<div id="div-cadastro" class="container">
		<form class="form-horizontal">
			<div class="control-group row">
				<div class="col-md-4 col-md-offset-4">
					<label class="control-label">Login: </label>
					<div class="controls">
						<input type="text" class="form-control" placeholder="Login"><br>
					</div>
				</div>
			</div>
			<div class="control-group row">
				<div class="col-md-4 col-md-offset-4">
					<label class="control-label">Senha: </label>
					<div class="controls">
						<input type="text" class="form-control" placeholder="Senha"><br>
					</div>
				</div>
			</div>
			<div class="control-group row">
				<div class="col-md-4 col-md-offset-4">
					<label class="control-label">Nome: </label>
					<div class="controls">
						<input type="text" class="form-control" placeholder="Nome"><br>
					</div>
				</div>
			</div>
			<div class="control-group row">
				<div class="col-md-4 col-md-offset-4">
					<label class="control-label">Foto: </label>
					<div class="controls">
						<input type="text" class="form-control" placeholder="Foto"><br>
					</div>
				</div>
			</div>
			<div class="control-group row">
				<div class="col-md-4 col-md-offset-4">
					<label class="control-label">Descrição: </label>
					<div class="controls">
						<input type="text" class="form-control" placeholder="Descrição"><br>
					</div>
				</div>
			</div>
			<div class="control-group row">
				<div class="col-md-4 col-md-offset-4">
					<label class="control-label">Data de Nascimento: </label>
					<div class="controls">
						<input type="date" class="form-control" placeholder="Data de Nascimento"><br>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<input type="button" class="btn btn-primary" value="Atualizar"><input type="button" class="btn btn-default" value="Cancelar">
				</div>
			</div>
		</form>
	</div>