<div class="main-container container-fluid" ng-controller="indexController">
	<!-- Grupos -->
	<section class="main-container container-fluid">
		<div id="membros" class="panel panel-default row">
			<div class="panel-heading col-md-12">
				<label class="col-md-offset-0">Grupos</label>
				<label class="col-md-offset-10">Criar Grupo</label>
				<button type="button" class="btn btn-default col-md-offset-0">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
			</div>
			<div class="panel-body col-md-12">
				<p class="col-md-offset-0">{{grupo}}
					<button type="button" class="btn btn-default col-md-offset-10">
						<span class="glyphicon glyphicon glyphicon-pencil"></span>
					</button>
					<button type="button" class="btn btn-default col-md-offset-0">
						<span class="glyphicon glyphicon glyphicon-trash"></span>
					</button>
				</p>
			</div>
		</div>
	</section>
</div>