<div class="main-container container-fluid" ng-controller="indexController">
	<!-- Membros -->
	<section class="main-container container-fluid">
		<div id="membros" class="panel panel-default">
			<div class="panel-heading">
				<b>{{grupo_name}}</b>
			</div>
			<div class="panel-body">
				<div class="input-group">
		  			<input type="text" class="form-control" placeholder="Adicionar">
		  			<span class="input-group-addon">
		  				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		  			</span>
				</div><br>
				<p class="col-md-offset-0">{{membro}}
					<button type="button" class="btn btn-default col-md-offset-10">
						<span class="glyphicon glyphicon glyphicon-pencil"></span>
					</button>
					<button type="button" class="btn btn-default col-md-offset-0">
						<span class="glyphicon glyphicon glyphicon-trash"></span>
					</button>
				</p>
			</div>
	</section>
	<!-- FIM FRAME 2 -->
</div>