<div class="main-container container-fluid" ng-controller="indexController">
	<!-- HEADER-->
	<div class="row">
		<nav class="navbar navbar-default">
			<div class="col-sm-2">
			      <a class="navbar-brand" href="#/index.html">WebPoster</a>
			</div>
			<div class="col-sm-8">
				<div class="row">
				    <div id="form_busca" class="input-group">
						<input type="search" ng-model="q" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<a class="navbar-brand" href="#">Log out</a>
			</div>
		</nav>
	</div>


	<!-- Pagina Perfil -->
		<div class="row">
			<!-- Frame 1 -->
			<aside class="col-sm-2">
				<!-- Imagem -->
				<div class="row">
					<div id="img-perfil" class="col-sm-8 col-sm-offset-1">
						<!--<img src="images/img.jpg"/>-->
						<img ng-src="images/{{user_img}}"/>
						<h4><a ng-href="#/perfil.html?id={{user_id}}">{{user_nome}}</a></h4>
					</div>
				</div>
				<!-- Menu Grupos -->
				<div class="row">
					<div id="menu-grupos" class="col-sm-10 col-sm-offset-1">
						<h4>Meus Grupos</h4>
						<div ng-repeat="group in groups">
							<a ng-href="#/grupo.html?id={{group.id}}">{{group.name}}</a><br />
						</div>
						<div class="col-sm-1 col-sm-offset-11">
							<a ng-href="#/grupos.html">mais...</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div id="menu-seguindo" class="col-sm-10 col-sm-offset-1">
						<h4>Seguindo</h4>
						<div class="row">
							<span ng-repeat="follow in follows" class="col-sm-4">
									<span title="{{follow.name}}">
										<a ng-href="#/perfil.html?id={{follow.id}}"><img ng-src="images/{{follow.photo}}" /></a>
									</span>
							</span>
						</div>
						<div class="col-sm-1 col-sm-offset-11">
							<a href="">mais...</a>
						</div>
					</div>
				</div>
			</aside>
			<!-- FIM FRAME 1 -->

			<!-- Frame 2 -->
			<article class="col-sm-8 col-sm-offset-1">
				<!-- Postar -->
				<section id="div-post" class="row">
					<h3><small>Novo Tweet</small></h3>
					<form>
						<input type="text" class="form-control" placeholder="Titulo" aria-describedby="basic-addon1" ng-model="tweet_title"><br />
						<textarea id="post" placeholder="O que deseja postar?" cols="100" ng-model='tweet_text'></textarea><br>
						<button class="btn btn-default" type="button" title="Cancelar" ng-click="cancelar()">Cancelar</button>
						<button class="btn btn-default" type="button" title="Postar" ng-click="postar()">Postar</button>
					</form>
				</section>
				<hr/>

				<!-- Posts -->
				<section id="div-posts" class="row">
					<!-- Titulo Posts -->
					<h3><small>Tweets</small></h3>
					<div class="col-sm-12">
						<!-- Posts -->
						<div class="row" ng-repeat="tweet in tweets | filter:q as results">
							<div id="posts" class="panel panel-default">
								<div class="panel-heading">
									<b>{{tweet.tittle}}</b> - {{tweet.date}}
								</div>
								<div class="panel-body">
									<div class="col-sm-2">
										<a href="#/perfil.html?id={{tweet.user}}"><img ng-src="images/{{tweet.photo}}"/></a>
									</div>
									<div class="col-sm-9">
										<p>{{tweet.text}}</p>
										<p><a href="#/perfil.html?id={{tweet.user}}">{{tweet.name}}</a></p>
									</div>
									<div class="col-sm-1 {{tweet.remove_icon}}">
										<button ng-click="removeTweet(tweet)" type="button" class="btn btn-default" aria-label="Left Align">
				  							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- FIM POSTS -->

			</article>
			<!-- FIM FRAME 2 -->
		</div>
</div>