<div class="main-container container-fluid" ng-controller="perfilController">
		
		<!-- Pagina Perfil -->
		<div class="row">

			<!-- Frame 1 -->
			<aside class="col-sm-2">
				<!-- Imagem -->
				<div class="row">
					<div id="img-perfil" class="col-sm-8 col-sm-offset-1">
						<!--<img src="images/img.jpg"/>-->
						<img ng-src="{{user_photo}}"/>
						<h4><a href="">{{user_name}}</a></h4>
					</div>
				</div>
				<!-- Menu Grupos -->
				<div class="row">
					<div id="menu-grupos" class="col-sm-8 col-sm-offset-1">
						<h3>Grupos</h3>
						<ul>
							<li>Grupo 1</li>
							<li>Grupo 2</li>
							<li>Grupo 3</li>
						</ul>
						<div class="col-sm-1 col-sm-offset-11">
							<a href="">mais...</a>
						</div>
					</div>
				</div>
			</aside>
			<!-- FIM FRAME 1 -->

			<!-- Frame 2 -->
			<article class="col-sm-8 col-sm-offset-1">
				<!-- Busca -->
				<section id="div-busca col-sm-12" class="row">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="search.$" placeholder="Search tweets" aria-describedby="basic-addon1">
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</span>
					</div>
				</section>
				<hr/>
				
				<!-- Info Perfil -->
				<!--<div class="row" ng-controller="editController">-->
				<section class="row" id="div-perfil">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-11">
										<h3><strong>{{user_name}}</strong></h3>
										<div>E-mail: {{user_email}} </div>
										<div>Nascimento: {{user_birthday}}</div>
										<div>Descrição: {{user_bio}}</div>
									</div>
									<!-- Botao de editar perfil -->
									<div class="col-sm-1">
										<button ng-click="perfil_edit()" type="button" class="btn btn-default" aria-label="Left Align">
											<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- Posts -->
				<section id="div-posts" class="row">
					<!-- Titulo Posts -->
					<h3><small>Meus Tweets</small></h3>
					<div id="div-tweet-list" class="col-sm-12">
						<!-- Posts -->
						<!--<div ng-controller="postController" class="row">-->
						<div class="row" ng-repeat="tweet in tweets | filter:search as results">
							<div id="posts" class="panel panel-default">
								<div class="panel-heading">
									<b>{{tweet.title}}</b>
								</div>
								<div class="panel-body">
									<div class="media">
										<div class="media-left">
											<img class="media-object" ng-src="{{user_photo}}">
										</div>
										<div class="media-body">
											<div class="col-sm-11">
												<p>{{tweet.text}}</p><br>
												<p style="color: #777777"><small>{{user_name}} {{format_tweet_date(tweet.createdAt)}}</small></p>
											</div>
											<div class="col-sm-1">
												<button ng-click="editPost()" type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#edit-tweet-modal" data-backdrop="false">
													<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Nao encontra nada na busca -->
						<div ng-if="results.length == 0">
							<strong>Não encontrado.</strong>
						</div>
					</div>

					<!--Edit tweet modal -->
					<div class="modal fade" id="edit-tweet-modal" role="dialog">
						<div class="modal-dialog">
						  <!-- Modal content-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title">Modal Header</h4>
							</div>
							<div class="modal-body">
							  <p>Some text in the modal.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Atualizar</button>
							</div>
						  </div>
						</div>
					</div>
				</section>
				<!-- FIM POSTS -->

			</article>
			<!-- FIM FRAME 2 -->
		</div>
</div>